body{
	font-family: sans-serif;
	color: white;
	margin-top: 200px;
	text-align: center;
	background: black;
}
#clock{
	font-weight: 300;
	font-size: 100px;
}
.loader{
	width: 150px;
	aspect-ratio: .75;
	--c: no-repeat linear-gradient(#000 0 0);
	-webkit-mask: var(--c),var(--c),var(--c);
	-webkit-mask-size: 20% 50%;
	background: conic-gradient(green,yellow ,red);
	animation: back 60s infinite steps(1), 
	           load 60s infinite linear;
}

@keyframes back{
50% {background-position: 100%}
}	
@keyframes load{
0%  {-webkit-mask-position: 0% 100%,50% 100%,200% 100%}
0%  {-webkit-mask-position: 0% 100%,50% 100%,200% 100%}
20% {-webkit-mask-position: 0% 50%,50% 100%,200% 100%}	
40% {-webkit-mask-position: 0% 0%,50% 50%,200% 100%}	
60% {-webkit-mask-position: 0% 100%,50% 0%,100% 50%}	
80% {-webkit-mask-position: 0% 100%,50% 100%,100% 0%}	
100% {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
}
body {
margin: 0;
min-height=100vh;
display: grid;
place-items:center;
}
	

	
	
  